
@{
    ViewData["Title"] = "Cadastro de Parceiros";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Partners/List">Listagem</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
    </ol>
</nav>

<h2>Cadastro de Parceiros</h2>

<form id="partnerForm" method="post">
    <div class="mb-3">
        <label for="partnerName" class="form-label">Nome do Parceiro</label>
        <input type="text" class="form-control" id="partnerName" name="Nome" placeholder="Digite o nome do parceiro" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="specialization" class="form-label">Especialidade</label>
        <select class="form-select" id="specialization" name="Especialidade" autocomplete="off">
            <option value="">N/A</option>
            <option value="Administração">Administração</option>
            <option value="Contabilidade">Contabilidade</option>
            <option value="Professor">Professor</option>
            <option value="RH">RH</option>
            <option value="TI">TI</option>
            <option value="Saúde">Saúde</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="city" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="city" name="Cidade" placeholder="Digite a cidade do parceiro" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Parceiro</button>
</form>

<script>
    $(document).ready(function () {
        $('#partnerForm').submit(function (e) {
            e.preventDefault();

            var formData = {
                name: $('#partnerName').val(),
                specialist: $('#specialization').val(),
                city: $('#city').val()
            };

            $.ajax({
                type: 'POST',
                url: '/parterns/save',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (response) {

                    alert('Parceiro cadastrado com sucesso!');
                    location.href = '/Partners/List';
                },
                error: function (error) {
                    alert('Erro ao cadastrar parceiro!');
                    console.error('Erro ao cadastrar parceiro:', error);
                }
            });
        });
    });
</script>