@{
    ViewData["Title"] = "Confirmação";
}

<h2>Confirmação de Agendamento</h2>

<p>Obrigado por agendar uma visita para doação de equipamentos de informática.</p>
<p>Nossos parceiros receberam o seu interesse e entrarão em contato em breve.</p>

<p>Em caso de dúvidas, entre em contato conosco.</p>

<a href="mailto:passosmagicos@passosmagicos.com">passosmagicos@passosmagicos.com</a>
