@{
    ViewData["Title"] = "List";
}

<h2>Cadastro de Agendamento de Visita</h2>

<form id="agendamentoForm" method="post">
    <div class="mb-3">
        <label for="nomeEmpresa" class="form-label">Nome / Empresa</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome ou nome da empresa">
    </div>
    <div class="mb-3">
        <label for="tipoPessoa" class="form-label">Pessoa Física ou Empresa?</label>
        <select class="form-select" id="personType" name="personType">
            <option value="pessoaFisica">Pessoa Física</option>
            <option value="empresa">Empresa</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" id="Phone" placeholder="Digite o número de telefone" name="Phone">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Digite o endereço de email" name="Email">
    </div>
    <div class="mb-3">
        <label for="dataHora" class="form-label">Data e Hora para Disponibilidade</label>
        <input type="datetime-local" class="form-control" id="AvailableDate" name="AvailableDate">
    </div>
    <div class="mb-3">
        <label for="descricaoEquipamentos" class="form-label">Descreva os Equipamentos que Deseja Doar</label>
        <textarea class="form-control" id="Description" rows="3" placeholder="Descreva os equipamentos" name="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Agendamento</button>
</form>

<script>
    $(document).ready(function () {
        $('#agendamentoForm').submit(function (e) {
            e.preventDefault();

            var formData = {
                name: $('#name').val(),
                personType: $('#personType').val(),
                Phone: $('#Phone').val(),
                Email: $('#email').val(),
                AvailableDate: $('#AvailableDate').val(),
                Description: $('#Description').val()
            };

            $.ajax({
                type: 'POST',
                url: '/Donors/SaveSchedule',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (response) {

                    alert('Agendamento enviado com sucesso!');
                    console.log('Agendamento enviado com sucesso:', response);
                    location.href = '/Donors/Confirmation';
                },
                error: function (error) {
                    alert('Erro ao enviar agendamento!');
                    console.error('Erro ao enviar agendamento:', error);
                }
            });
        });
    });
</script>